{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Test of a REDIS app</h1>
    <p class="lead">This application is built on the Python Flask framework</p>
  </div>

  <table class="ui table celled orange inverted">
    <thead>
      <th>Adverse Events</th>
      <th>{{drg1}}</th>
      <th>{{drg2}}</th>
      <th>{{drg999}}</th>
    </thead>
    <tr>
      <td>N</td>
      <td>{{drug001}}</td>
      <td>{{drug002}}</td>
      <td>{{drug999}}</td>
    </tr>
    <tr>
      <td>{{y}}</td>
      <td>{{d1a1}}</td>
      <td>{{d2a1}}</td>
      <td>{{d9a1}}</td>
    </tr>
    <tr>
      <td>{{x}}</td>
      <td>{{d1a2}}</td>
      <td>{{d2a2}}</td>
    </tr>
  </table>


{% endblock %}
